{% extends 'base.html' %}
{% block title %}Reservation Info{% endblock %}

{% block content %}

<h3>Edit Reservation</h3>
<form action="/edit-reservation/{{ reservation.id}}" method="POST">
  <div class="mb-3">
    <label for="start">Start</label>
    <input id="start"
           class="form-control"
           name="startAt"
           value="{{ reservation.startAt }}"
    >
  </div>
  <div class="mb-3">
    <label for="num-guests"># of Guests:</label>
    <input class="form-control"
           value="{{ reservation.numGuests }}"
           name="numGuests"
           type="number"
           id="num-guests">

  </div>
  <div class="mb-3">
    <label for="notes">Notes:</label>
    <textarea class="form-control"
              name="notes"
              id="notes"
              value="{{ reservation.notes }}"></textarea>
  </div>
  <button class="btn btn-primary">Edit</button>
</form>

{% endblock %}
